<!-- exercicio 01 -->

<!-- <div class="container">
  <form #login="ngForm" (ngSubmit)="sendUser()">
    <div class="form-group">
      <label>Email address</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter email"
        name="email"
        (keyup)="validateEmail()"
        [(ngModel)]="user.email"
      />
      <small class="form-text text-muted"
        >Formato aceito: name@dominio.com</small
      >
      <small *ngIf="notEmail" class="form-text text-danger"
        >Email fora do formato esperado</small
      >
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        #senha="ngModel"
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
        [ngClass]="{ 'border-danger' : user.password.length < 6 || senha.pristine }"
        [(ngModel)]="user.password"
      />
      <small class="form-text text-muted"
        >Sua senha deve conter no mínimo 6 digitos.</small
      >
    </div>

    <div class="form-check">
      <input name="logged" type="checkbox" (click)="user.logged = !user.logged" class="form-check-input" [(ngModel)]="user.logged" />
      <label class="form-check-label">Matenha meu login</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> -->

<!-- exercicio 02 -->
<h2>Exercicio de lista</h2>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index;">
        <th>{{ i }}</th>
        <td>{{ user.primeiroNome }}</td>
        <td>{{ user.ultimo }}</td>
        <td (click)="getUser(i)"> X </td>
        <td (click)="editUser(user, i)"> Editar </td>
      </tr>
    </tbody>
  </table>


  <div *ngIf="editandoUser">
      <input type="text" placeholder="Primeiro nome..." [(ngModel)]="primeiroNome">
      
      <input type="text" placeholder="Segundo nome..." [(ngModel)]="segundoNome">
      <button (click)="editingUser()">Salvar</button>
  </div>












